<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>

  </head>

  <body>
    <h1>Login Page</h1>

    <div class="error message">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>

    <div class="form">

    <%=form_with url: sessions_path, local: true do |f|%>


    <p>
      <%= f.text_field :username, placeholder: "danboard", id: "user" %>
    </p>



    <p>
      <%= f.password_field :password, placeholder: "password", id: "pass" %>
    </p>



        <p><%= f.submit "Log in", id:"button"%></p>

      <%= link_to "New Account", new_user_path, id: "new" %>
      <% end %>
    </div>


  </body>

</html>
