<h1>Create New User</h1>

<div class="error message">
  <% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end  %>
</div>


<div class="sign">
  <%= form_for @user do |f| %>
  <p>
    <%= f.text_field :username, placeholder: "Username", id: "user" %>
  </p>

  <p>
    <%= f.text_field :email, placeholder: "Email", id: "user" %>
  </p>


  <p>
    <%= f.text_field :first_name, placeholder: "First name", id: "user"%>
  </p>



<p>
  <%= f.text_field :last_name, placeholder: "Last name" , id: "user"%>
</p>


<p>
  <%= f.password_field :password, placeholder: "Password", id: "user"%>

</p>

  <p> <%= f.submit "Create", id:"button" %>
   <%= link_to "Have an Account? Sign In",new_session_path, id: "account" %></p>

  <% end %>

</div>
