<h1>Create New User</h1>

<div class="new user">
  <%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>


  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>



<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>


<p>

  <%= f.label :password %>
  <%= f.password_field :password %>

</p>

  <p>  <%= f.submit %></p>

  <% end %>

</div>
