
<header>
  <h1>User Account</h1>

</header>

<h2>Hello, <%= @user.full_name%></h2>
<p>Email address: <%= @user.email %></p>

<%= link_to "Animals List", animals_path %>

<% if @user.admin == true %>
  <%= link_to "Add an Animal", new_animal_path  %>
  <%= link_to "Edit an Animal", animals_path %>
<% end %>

<h3>Favorite Animals</h3>
  <% @user.favorite_animals.each do |f| %>
   <p><%= f.animal.name %></p>
 <% end  %>

<h3>Bookmarks</h3>
  <% @user.save_animals.each do |s| %>
   <p><%= link_to s.animal.name, s.animal %></p>
  <% end  %>
