<body>
  <h1><%= @animal.name %></h1>

  <div class="photo">
  <span><%= image_tag (@animal.photo), class: "img-thumbnail" %></span>
  </div>

  <h2><%=@animal.name%> Facts</h2>

  <h3>Description</h3>
  <div class="animal description">
    <p><%= @animal.description %></p>

    <h3>Scientific Name</h3>
    <p><%= @animal.scientific_name%></p>

    <h3>Family Name</h3>
    <p><%= @animal.family_name %></p>

    <h3>Classification</h3>
    <p><%= @animal.classification %></p>

    <h3>Diet</h3>
    <p><%= @animal.diet %></p>

    <h3>Life Span</h3>
    <p><%= @animal.life_span %></p>

    <h3>Habitat</h3>
    <p><%= @animal.habitat %></p>

    <h3>Comments</h3>
    <% @animal.comments.zip(@animal.users).map do |comment, user| %>
      <p>
        <strong><%= user.username %></strong> <br>
        <%= comment.comment %>
      </p>
    <% end %>

    <% if current_user != nil %>

     <div class="like">
      <%= form_for @favorite_animal do |f| %>
        <%= f.hidden_field :animal_id, :value => @animal.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
       <span><%=f.submit "Likes" %>
       <% end %>
       <%= @animal.favorite_animals.count%></span>
       </div>

     <% if @user.admin == true %>
       <%= button_to "Edit", edit_animal_path, method: :get %>
       <%= button_to "Remove", @animal, method: :delete %>
     <% end %>

     <div class="comment">
       <%= form_for @comment do |f| %>
         <p><%= f.text_area :comment, placeholder: "Enter a comment" %><br>
           <%= f.hidden_field :user_id, :value => current_user.id %>
           <%= f.hidden_field :animal_id, :value => @animal.id %>
         <%= f.submit %></p>
       <% end %>
     </div>
     <div class="bookmark">
       <%= form_for @save do |f| %>
        <%= f.hidden_field :animal_id, :value => @animal.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <span><%=f.submit "Bookmark" %>
        <% end %>

     </div>

     <% else %>
     <div class="cannot comment">
       <p>You must sign in to comment</p>
     </div>
   <% end %>

  </div>

</body>
