<body>
  <h1><%= @animal.name %></h1>
  <h2><%=@animal.name%> Facts</h2>

  <p>
    <%= @animal.photo %>
  </p>

  <h3>Description</h3>
  <div class="animal description">
    <p><%= @animal.description %></p>

    <h3>Scientific Name</h3>
    <p><%= @animal.scientific_name%></p>

    <h3>Family Name</h3>
    <p><%= @animal.family_name %></p>

    <h3>Classification</h3>
    <p><%= @animal.classification %></p>

    <h3>Diet</h3>
    <p><%= @animal.diet %></p>

    <h3>Life Span</h3>
    <p><%= @animal.life_span %></p>

    <h3>Habitat</h3>
    <p><%= @animal.habitat %></p>

    <% if @user.admin == true %>
      <%= button_to "Edit", edit_animal_path, method: :get %>

      <%= button_to "Remove", @animal, method: :delete %>
    <% end %>

  </div>

</body>
